    <div>
        <h3>
            <span>{{this.foundArtist.name}}</span>
        </h3>

        <img src="{{foundArtist.url}}" alt="artist" width="300px">
        <div>
            <a href="">View Albums</a>
        </div>
    </div>